body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Pretendard, sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.wrap { position: relative; overflow: hidden;}
/******************** welcome **********************/
.welcome {
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 204, 204);
    position: relative;
    transition: all 1s;
    z-index: 99999999;
}
.welcomeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.welcomeTxt {
    display: block;
    font-size: 50px;
    font-weight: 400;
    color: rgb(112, 114, 116);
    transform: translateY(100%);
    transition: all 1s;
}
/******************** sideNav **********************/
.sideNav {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    color: #fff;
}
.sideBox {
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    z-index: 999;
}
.sideBox:hover { cursor: pointer; }

.sideMain:hover,
.sideAboutme:hover,
.sideSkills:hover,
.sideportfolio:hover,
.sideContact:hover { 
    color: rgb(93 143 123);
}

/******************** main **********************/
.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    position: relative;
    opacity: 0;
    /* transition: all 2s; */

    background-color: #000;
}
.main_video {
    width: 100%;
}
.moonImgBox {
    /* width: 1105px;
    height: 850px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
    /* transform: scale(0); */
    transition: all 3s;
}
.moonImg {
    max-width: 1105px;
    max-height: 850px;
    /* z-index: -99999999; */

    animation: imgAni 90s linear 0s infinite normal none;
}
.mainTxtBox {
    position: absolute;
    top: 0;
    left: 60%;
    text-align: right;
}
.mainTxt {
    color: #fff;
    font-size: 90px;
    font-weight: 900;
    font-family: Poppins, Pretendard, sans-serif;
    font-style: oblique;
    opacity: 0.8;
}

@keyframes imgAni {
    0% { 
        transform: rotate(0deg);
        opacity: 0.5;
    } 
    50% { opacity: 0.6; }
    100% {
        transform: rotate(360deg);
        opacity: 0.6;
    }
}


/******************** aboutme **********************/
.aboutme{
    width: 100%;
    height: 100vh;
    color: rgb(204, 204, 204);
    font-family: Poppins, Pretendard, sans-serif;
    position: relative;

    /* background: url(../img/gg.jpg); */
    background-color: rgb(33, 33, 33);
}
.aboutme > span {
    font-size: 40px;
    font-style: oblique;
    opacity: 0.8;
    font-weight: 900;
    position: absolute;
    top: 5%;
    left: 18%;
}
.aboutmeBox {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.aboutmeLeft {
    width: 50%;
    height: 0%;
    float: left;
    opacity: 0;
    transition: all 1s;
    transform-origin: top;
    position: relative;
}
.meBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.meImgBox {
    width: 100%;
}
.meImg { 
    width: 100%;
    box-shadow: 0px 0px 23px -3px #5b5b5b;
    border-radius: 5px;
    opacity: 0.9;
}
.aboutmeTxt {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
}
.aboutmeTxt > p {
    padding: 5px 0;
}
.aboutmeRight {
    width: 50%;
    height: 0%;
    float: right;
    opacity: 0;
    transition: all 1s;
    transform-origin: top;
    padding: 30px 100px 30px 30px;
    box-sizing: border-box;
}
.meRightTxt {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8;
}
.bjTxt {
    display: inline-block;
    padding: 5px 8px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 55px;
}
.bjTxt:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    color: #000;
}
.downImg {
    width: 35px;
    height: 35px;
    float: left;
    background: url(../img/down.png) no-repeat center / contain;
}
.downTxt {
    float: left;
    font-weight: 800;
}

.aboutmeActive { opacity: 1; height: 100%;}
/******************** skills **********************/
.skills {
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: rgb(33, 33, 33);
}
.skillstitle { 
    color: #fff;
    font-size: 40px;
    font-style: oblique;
    opacity: 0.8;
    font-weight: 900;
    position: absolute;
    top: 5%;
    left: 18%;
}
.skillBoxLine {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%, -50%);
}
.skillBox {
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 1s;
    /* background-color: rgb(87 87 87 / 80%); */
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.mySkill {
    width: 100%;
    height: calc(100% / 3);
}
.skillTittle {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-left: 20px;
    padding: 5px 8px;
    border: 1px solid #fff;
    border-radius: 12px;
}
.myskillBox {
    overflow: hidden;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}
.myskillImgBox {
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
}
.myskillImg {
    width: 100px;
    height: 100px;
}
/* front */
.htmlImg { background: url(../img/html.png) no-repeat center / contain; }
.cssImg { background: url(../img/css.png) no-repeat center / contain; }
.scriptImg { background: url(../img/javascript.png) no-repeat center / contain; }
.jqueryImg { background: url(../img/jquery.png) no-repeat center / contain; }
.ajaxImg { background: url(../img/AJAX.png) no-repeat center / contain; }
/* back */
.javaImg { background: url(../img/java.png) no-repeat center / contain; }
.springImg { background: url(../img/springFramework.png) no-repeat center / contain; }
.mysqlImg { background: url(../img/mysql.png) no-repeat center / contain; }
.mybatisImg { background: url(../img/mybatis.png) no-repeat center / contain; }
.tomcatImg { background: url(../img/tomcat.png) no-repeat center / contain; }
.oracleImg { background: url(../img/Oracle.png) no-repeat center / contain; }
/* tool */
.vscodeImg { background: url(../img/vscode.png) no-repeat center / contain; }
.intellijImg { background: url(../img/IntelliJ.png) no-repeat center / contain; }
.stsImg {
    background: url(../img/stsImg.png) no-repeat center / contain; 
    position: relative;
}
.stsImg > div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    color: #6db140;
}





.skillBoxActive { opacity: 1; height: 100%;}

/******************** portfolio **********************/
.portfolioSec {
    width: 100%;
    overflow: hidden;
    /* height: 100vh; */
    background-color: rgb(33, 33, 33);
}
.portfolioTitle {
    display: inline-block;
    margin: 5% 0 0 18%;
    color: #fff;
    font-size: 40px;
    font-style: oblique;
    opacity: 0.8;
    font-weight: 900;
}
.portfolioBox {
    width: 100%;
    /* height: 100vh; */
}
.portfolio {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nudake { position: relative; }
.dogomi { position: relative; }
.bottleJay { position: relative; }
.portfolioTxt {
    width: 100%;
    height: 100vh;
}
.nudakeTxt, .dogomiTxt { 
    background-color: rgb(33, 33, 33);
}
.bottleJayTxt { background-color: green; }
.portTitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 26px;
    font-weight: 900;
    padding-top: 100px;
    padding-left: 25%;
    box-sizing: border-box;
}
.nudakeFont { 
    color: rgba(255, 255, 255, 0.8);
    font-weight: 900;
    font-size: 15px;
    padding-left: 25%;
}
.portAtt {}
.portTime {
    margin-top: 80px;
    margin-bottom: 25px;
}
.portSkill {
    margin-bottom: 20px;
    line-height: 45px;
}
.portSkill > span {
    margin-right: 5px;
}
.portSkill > span:nth-child(2),
.portSkill > span:nth-child(3),
.portSkill > span:nth-child(4),
.portSkill > span:nth-child(5),
.portSkill > span:nth-child(6),
.portSkill > span:nth-child(7),
.portSkill > span:nth-child(8),
.portSkill > span:nth-child(9),
.portSkill > span:nth-child(10),
.portSkill > span:nth-child(11) {
    border: 1px solid;
    border-radius: 15px;
    padding: 8px;
    box-sizing: border-box;
}
.portSubTxt {
    margin-bottom: 20px;
}
.portSubTxt > span:nth-child(2) {
    line-height: 30px;
}
.nudakeBt {
    padding: 10px;
    margin-left: 25%;
    border: 1px solid;
    border-radius: 5px;
}
.nudakeBt:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
.dogomi {}
.dogomifont {
    color: rgb(210 167 118);
    font-weight: 900;
    font-size: 15px;
    padding-left: 25%;
}
.dogomiTxt > div:nth-child(1) { color: rgb(210 167 118); }
.dogomiBt {
    padding: 10px;
    margin-left: 25%;
    border: 1px solid;
    border-radius: 5px;
}
.portfolioImg {
    width: 100%;
    height: 100vh;
}
.dogomiBt:hover {
    background-color: rgb(210 167 118);
    border: 1px solid rgb(210 167 118);
    color: #fff;
}
.nudakeBack { 
    position: absolute;
    top: 0;
    left: 100%;
    background: url(../img/portfolioImg/nudakeBack.png) no-repeat center / cover; 
}
.dogomiBack {
    width: 50%;
    position: fixed;
    top: 0;
    left: 50%;
    opacity: 0;
    background: url(../img/portfolioImg/dogomiBack.png) no-repeat center / cover; 
}
.bottleJayBack {
    opacity: 0;
    background-color: bisque;
}
.portPan {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
}
.mockImg { 
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nudakeImg { background: url(../img/portfolioImg/nudake-min.png) no-repeat center / contain; }
.dogomiImg {  background: url(../img/portfolioImg/dogomi-min.png) no-repeat center / contain; }
.bottleJayImg {}
/******************** contact **********************/
.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    
    background-color: rgb(33, 33, 33);
}
.contactLine {
    width: 70%;
    height: 65%;
    margin: auto;
    background-color: #000;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: all 1s;
}
.contactBox {
    width: 100%;
    height: 100%;
    transform: rotate(-30deg);
    position: relative;
}
.contactSlide {
    width: 120%;
    height: 67%;
    border: 4px solid;
    box-sizing: border-box;
    display: flex;

    transition: all 0.5s;
}
.contSL1 {
    transform: translate(-14%, -75%);
}
.contSL2 {
    transform: translate(4%, -75%);
}
.contSL3 {
    transform: translate(-14%, -75%);
}
.contactSlideImg {
    width: calc(100% / 5);
    height: 100%;
    border: 2px solid;
    box-sizing: border-box;
}
.csImg1 { background: url(../img/contactImg/PPT_1_6.jpg) no-repeat center / cover; }
.csImg2 { background: url(../img/contactImg/user_my_page_tc_jjim.png) no-repeat center / cover; }
.csImg3 { background: url(../img/contactImg/review_modify2.png) no-repeat center / cover; }
.csImg4 { background: url(../img/contactImg/PPT_1_5.jpg) no-repeat center / cover; }
.csImg5 { background: url(../img/contactImg/PPT_1_1.jpg) no-repeat center / cover; }
.csImg6 { background: url(../img/contactImg/PPT_1_4.png) no-repeat center / cover; }
.csImg7 { background: url(../img/contactImg/event.png) no-repeat center / cover; }
.csImg8 { background: url(../img/contactImg/index.png) no-repeat center / cover; }
.csImg9 { background: url(../img/contactImg/FAQ2.png) no-repeat center / cover; }
.csImg10 { background: url(../img/contactImg/PPT1_7.jpg) no-repeat center / cover; }
.csImg11 { background: url(../img/contactImg/PPT1_7.jpg) no-repeat center / cover; }
.csImg12 { background: url(../img/contactImg/PPT_1_4.png) no-repeat center / cover; }
.csImg13 { background: url(../img/contactImg/community_create2.png) no-repeat center / cover; }
.csImg14 { background: url(../img/contactImg/FAQ2.png) no-repeat center / cover; }
.csImg15 { background: url(../img/contactImg//PPT_1_3.png) no-repeat center / cover; }
.contactPan {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
}
.contactIcon {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.contactLink {
    display: block;
    width: 22%;
    height: 100%;
}
.icon {
    width: 100%;
    height: 80%;
}
.iconTxt {
    width: 100%;
    height: 20%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
}
.kakao { background: url(../img/con01.png) no-repeat center / contain; }
.kakaoTxt {}
.mail { background: url(../img/con02.png) no-repeat center / contain; }
.mailTxt {}
.phone { background: url(../img/con03.png) no-repeat center / contain; }
.phoneTxt {}




